---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import MorePost from "../../components/MorePost.astro";
import Pagination from "../../components/Pagination.astro";

import { formatBlogPost } from "../../lib/utils";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("posts");
  const formattedPosts = formatBlogPost(allPosts);

  return paginate(formattedPosts, {
    pageSize: 5,
  });
}

const pageTitle = "Trevor Lee | All Posts";

const { page } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <div class="py-8 grid">
    {
      page.data.map((post) => (
        <MorePost
          date={post.data.date}
          href={post.slug}
          title={post.data.title}
          description={post.data.description}
        />
      ))
    }
  </div>
  <div>
  <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </div>
</BaseLayout>
