---
import BaseLayout from "src/layouts/BaseLayout.astro";
import { formatBlogPost } from "src/lib/utils";
import { getCollection } from "astro:content";
import Post from "@components/Post.astro";
import Pagination from "@components/Pagination.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("posts");
  const formattedPosts = formatBlogPost(allPosts);

  return paginate(formattedPosts, {
    pageSize: 10,
  });
}

const pageTitle = "Trevor Lee | All Posts";

const { page } = Astro.props as any;
---

<BaseLayout pageTitle={pageTitle} category="posts">
  <div>
    <ul>
      {
        page.data.map((post) => (
          <Post
            date={post.data.date}
            href={post.slug}
            title={post.data.title}
            description={post.data.description}
          />
        ))
      }
    </ul>
  </div>
  <div>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </div>
</BaseLayout>
