---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import MorePost from "../../components/MorePost.astro";
import Pagination from "../../components/Pagination.astro";

import { formatBlogPost } from "../../lib/utils";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("posts");
  const formattedPosts = formatBlogPost(allPosts);

  return paginate(formattedPosts, {
    pageSize: 7,
  });
}

const pageTitle = "Trevor Lee | All Posts";

const { page } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <!-- {
    formattedPosts.map((page) => (
      <MorePost
        date={page.data.date}
        href={page.slug}
        title={page.data.title}
        description={page.data.description}
      />
    ))
  } -->
  <div class="py-8 grid gap-4">
    {
      page.data.map((post) => (
        <MorePost
          date={post.data.date}
          href={post.slug}
          title={post.data.title}
          description={post.data.description}
        />
      ))
    }
  </div>
  <div>
  <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </div>
</BaseLayout>

<!-- <style>
  h1 {
    margin-bottom: 2rem;
  }

  div {
    padding-top: 1rem;
  }

  .test {
    display: none;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 4rem;
    padding: 0;
  }
</style> -->
