---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Comments from "@components/Comments";
import { Image } from "astro:assets";
import styles from '../../styles/CodeBlock.module.css'
import { formatDate } from "../../lib/utils"

export async function getStaticPaths() {
  const allPosts = await getCollection("posts")

  return allPosts.map((post) => ({
    params: { slug: post.slug },
    props: {
      post,
    }
  }))
}

const { post } = Astro.props;
const { Content } = await post.render()
---

<BaseLayout style={styles} pageTitle={post.data.title}>
  <div style="view-transition-name: test" class="max-w-screen-md mx-auto px-2">
    {post.data.imageSrc ?
      <Image
        src={post.data.imageSrc}
        alt={post.data.imageAlt}
        quality={"low"}
        class="mt-6"
      /> : <></>
    }
    <div class="">
    <h1 class='text-3xl sm:text-5xl text-center font-bold mt-6' id="postTitle">{post.data.title}</h1>
      {post.data.date && <p class="mb-8 text-center sm:text-lg sm:mt-2 mt-1">Posted {formatDate(post.data.date, "long")}</p>}
      <hr class="mb-8 hr-bg border-none h-0.5"/>
    </div>
    <div id="content" class="prose mx-auto max-w-none mb-12 prose-strong:text-inherit">
      <Content />
    </div>
    <div class="pb-4">
      <Comments client:idle/>
    </div>
  </div>
</BaseLayout>

<style>
  #postTitle {
    text-wrap: balance;
  }
</style>
