---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import styles from '../../styles/CodeBlock.module.css'
import { slugify, formatDate } from "../../js/utils"
import { Icon } from 'astro-icon';

export async function getStaticPaths() {
  const allPosts = await getCollection("posts")

  return allPosts.map((post) => ({
    params: { slug: post.slug },
    props: {
      post,
    }
  }))
}

const { post } = Astro.props;
const {Content} = await post.render()
---

<BaseLayout style={styles} pageTitle={post.data.title}>
  <div>
    {post.data.image ? <img src={post.data.image.src} alt={post.data.image.alt} /> : <></> }
    <div class="textWrapper">
    <h1 class={post.image ? '' : 'title'}>{post.data.title}</h1>

    {post.data.date && <p class="pub-date">Posted {formatDate(post.data.date)}</p>}
    
    <hr />
    <div class="content">
      <Content />
    </div>
    </div>
  </div>
</BaseLayout>

<style>
  .textWrapper {
    /* outline: 2px solid blue; */
    max-width: 64ch;
    margin: 0 auto;
  }

  .content {
    /* outline: 2px solid red; */
  }

  .pub-date {
    margin-top: 0.5rem;
  }

  h1 {
    line-height: 1;
  }

  img,
  .title {
    margin-top: 3rem;
  }

  .content {
    margin-top: 2rem;
  }

  .calendar-emoji {
    font-style: normal;
  }

  @media (min-width: 40rem) {
    img,
    .title {
      margin-top: 6rem;
    }
  }
</style>