---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Comments from "@components/Comments";
import { Image } from "astro:assets";
import styles from "../../styles/CodeBlock.module.css";
import { formatDate } from "../../lib/utils";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");

  return allPosts.map((post) => ({
    params: { slug: post.slug },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout
  style={styles}
  pageTitle={post.data.title}
  pageSlug={post.slug}
  category="posts"
>
  <div class="-z-10 mx-auto max-w-screen-md px-2">
    {
      post.data.imageSrc ? (
        <Image
          src={post.data.imageSrc}
          alt={post.data.imageAlt}
          quality={"low"}
          class="mt-6"
        />
      ) : null
    }
    <div transition:name={`${post.slug}-container`}>
      <h1
        class="mt-6 text-center text-3xl font-bold sm:text-5xl"
        id="postTitle"
      >
        {post.data.title}
      </h1>
      {
        post.data.date && (
          <p class="mb-8 mt-1 text-center sm:mt-2 sm:text-lg">
            Posted {formatDate(post.data.date, "long")}
          </p>
        )
      }
      <hr class="hr-bg mb-8 h-0.5 border-none" />
    </div>
    <div
      id="content"
      class="prose mx-auto mb-12 max-w-none prose-strong:text-inherit"
    >
      <Content />
    </div>
    <div class="pb-4">
      <Comments client:idle />
    </div>
  </div>
</BaseLayout>

<style>
  #postTitle {
    text-wrap: balance;
  }
</style>
