---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import styles from '../../styles/CodeBlock.module.css'
import { formatDate } from "../../lib/utils"

export async function getStaticPaths() {
  const allPosts = await getCollection("posts")

  return allPosts.map((post) => ({
    params: { slug: post.slug },
    props: {
      post,
    }
  }))
}

const { post } = Astro.props;
const {Content} = await post.render()
---

<BaseLayout style={styles} pageTitle={post.data.title}>
  <div>
    {post.data.image ? <img src={post.data.image.src} alt={post.data.image.alt} /> : <></> }
    <div class="textWrapper">
    <h1 class={post.image ? '' : 'text-2xl font-semibold'}>{post.data.title}</h1>

    {post.data.date && <p class="mb-6">Posted {formatDate(post.data.date)}</p>}
    
    <hr/>
    <div class="content mb-12">
      <Content />
    </div>
    </div>
  </div>
</BaseLayout>

<style>
  .textWrapper {
    /* outline: 2px solid blue; */
    margin: 0 auto;
  }

  .calendar-emoji {
    font-style: normal;
  }
</style>