---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import BaseLayout from "src/layouts/BaseLayout.astro";

import { formatDate } from "src/lib/utils";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");

  return allPosts.map((post) => ({
    params: { slug: post.slug },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props as any;
const { Content } = await post.render();
---

<BaseLayout pageTitle={post.data.title} pageSlug={post.slug} category="posts">
  <div class="-z-10">
    {
      post.data.imageSrc ? (
        <Image
          src={post.data.imageSrc}
          alt={post.data.imageAlt}
          quality={"low"}
          class="mb-12"
        />
      ) : null
    }
    <div transition:name={`${post.slug}-container`}>
      <h1 class="text-pretty text-2xl font-semibold" id="postTitle">
        {post.data.title}
      </h1>
      {
        post.data.date && (
          <span class="text-sm text-textVariant">
            Posted {formatDate(post.data.date, "long")}
          </span>
        )
      }
    </div>
    <div
      id="content"
      class="prose prose-sm prose-neutral mx-auto mb-12 mt-8 underline-offset-[3px] sm:prose-base prose-headings:font-semibold"
    >
      <Content />
    </div>
    <div class="giscus pb-4"></div>
  </div>
</BaseLayout>

<style>
  #postTitle {
    text-wrap: balance;
  }

  #content {
    --tw-prose-body: rgb(var(--text-variant));
    --tw-prose-links: rgb(var(--primary));
    --tw-prose-code: rgb(var(--green-7));
    --tw-prose-headings: rgb(var(--text));
    --tw-prose-quotes: rgb(var(--text));
    --tw-prose-bold: rgb(var(--text));
  }
</style>

<script
  is:inline
  src="https://giscus.app/client.js"
  data-repo="trevortylerlee/trevortylerlee.com"
  data-repo-id="R_kgDOIetyNw"
  data-category="Announcements"
  data-category-id="DIC_kwDOIetyN84CYUKP"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="preferred_color_scheme"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async></script>
