---
import BaseLayout from "../../layouts/BaseLayout.astro";
import MorePost from "../../components/MorePost.astro";
import { getDate } from "../../../public/getDate";

const allPosts = await Astro.glob("../posts/*.mdx");
const sortedPosts = allPosts.reverse();

let dates = [];
for (let i = 0; i < sortedPosts.length; i++) {
  const date = getDate(sortedPosts[i].frontmatter.date);
  dates.push(date);
}
---

<BaseLayout>
  <h1>Posts</h1>
  <!-- {
    allPosts.map((post) => (
      <div>
        <a class="post" href={post.url}>
          {post.frontmatter.title}
        </a>
      </div>
    ))
  } -->
  {
    sortedPosts.map((post, i) => (
      <MorePost
        date={dates[i].abbreviation}
        href={post.frontmatter.url}
        title={post.frontmatter.title}
      />
    ))
  }
</BaseLayout>

<style>
  h1 {
    margin-bottom: 2rem;
  }

  div {
    padding-top: 1rem;
  }
</style>
