---
import BaseLayout from "../../layouts/BaseLayout.astro";
import MorePost from "../../components/MorePost.astro";

const allPosts = await Astro.glob("../posts/*.mdx");
---

<BaseLayout>
  <h1>Posts</h1>
  <!-- {
    allPosts.map((post) => (
      <div>
        <a class="post" href={post.url}>
          {post.frontmatter.title}
        </a>
      </div>
    ))
  } -->
  {
    allPosts.map((post) => (
      <MorePost
        date={post.frontmatter.date}
        href={post.frontmatter.url}
        title={post.frontmatter.title}
      />
    ))
  }
</BaseLayout>

<style>
  h1 {
    margin-bottom: 2rem;
  }

  div {
    padding-top: 1rem;
  }
</style>
