---
import { getCollection, getEntryBySlug } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import Marquee from '../components/Marquee.astro';
import MorePost from '../components/MorePost.astro';

import { formatBlogPost } from '../js/utils';

const pageTitle = 'Trevor Lee | Homepage';
const allPosts = await getCollection('posts');
const formattedPosts = formatBlogPost(allPosts, {
  limit: 3,
});
const feature1 = await getEntryBySlug('posts', 'phished');
const feature2 = await getEntryBySlug('posts', 'text2array');
const feature3 = await getEntryBySlug('posts', 'design');
const featuredPosts = [feature1, feature2, feature3];
---

<BaseLayout pageTitle={pageTitle}>
  <div class="intro">
    <Marquee />
    <h1 class="name">Trevor Lee</h1>
    <p class="desc">Digital designer and web developer</p>
  </div>
  <hr />
  <!-- <Card
    title="Phished – Send Phishing Emails"
    desc="Building an application to send customizable phishing emails"
    href="/blog/phished"
    src="/phished-screenshot.webp"
    alt="A tablet and smartphone are next to each other, each displaying a screenshot from the Phished website. The Phished logo, a fish with an envelope for a body, is displayed on the right with the Phished wordmark."
  />
  <Card
    title="Text 2 Array Tool"
    desc="Make typing arrays less painful"
    href="/posts/text2array"
    src="/t2a.jpg"
    alt="The acronym t2a being spread into an array that contains the elements t, 2, and a."
  />
  <Card
    title="Creative Work & Other Stuff"
    desc=""
    href="/posts/design"
    src="/creative-work.png"
    alt='The words "Creative Work", with a scribbled arrow aimed at the words "& Other Stuff".'
  /> -->
  {
    featuredPosts.map((post) => (
      <Card
        title={post.data.title}
        desc={post.data.description}
        href={post.slug}
        src={post.data.image.src}
        alt={post.data.image.alt}
      />
    ))
  }
  <hr />
  <div class="latest-posts">
    <h2 class="more">Latest Posts</h2>
    <a class="view-all" href="/posts/">View all posts</a>
  </div>
  {
    formattedPosts.map((post, i) => (
      <MorePost
        date={post.data.date}
        href={post.slug}
        title={post.data.title}
      />
    ))
  }
</BaseLayout>

<style>
  h1 {
    font-size: 3.125rem;
    cursor: default;
  }

  .name,
  .desc {
    margin: 0;
    top: -1rem;
    text-align: center;
  }

  .desc {
    margin-bottom: 4rem;
  }

  h2 {
    font-size: 1.75rem;
    text-align: center;
  }

  .more {
    text-align: left;
    margin-top: 4rem;
  }

  marquee {
    display: flex;
    margin: 0;
  }

  .view-all {
    color: inherit;
    border-color: rgba(0, 0, 0, 0);
  }

  .view-all:hover,
  .view-all:focus-visible {
    border-color: var(--primary-color);
    color: var(--primary-color);
    opacity: 1;
  }

  .latest-posts {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: 40rem) {
    h1 {
      font-size: 5.5rem;
    }

    h2 {
      font-size: 3rem;
    }

    .desc {
      font-size: 1.5rem;
    }
  }
</style>
