---
import { Icon } from "astro-icon/components";
import BaseLayout from "src/layouts/BaseLayout.astro";
import { formatBlogPost } from "src/lib/utils";
import { getCollection } from "astro:content";
import Post from "@components/Post.astro";
import Project from "@components/Project.astro";
import Hero from "@components/Hero.astro";

const allPosts = await getCollection("posts");
const formattedPosts = formatBlogPost(allPosts, {
  limit: 5,
});

const pageTitle = "Trevor Lee | Homepage";
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <Hero />
  </section>

  <section class="animate-down">
    <h2 class="pb-4 pt-12 text-sm text-textVariant">Projects</h2>
    <ul class="">
      <Project
        description="Blog theme for Astro with search, comments, and zero frameworks."
        href="https://astro-micro.vercel.app/"
        title="Astro Micro 🔬"
      />
      <Project
        description="Foster closeness through mutual vulnerability."
        href="https://thirtysixquestions.org"
        title="Thirty Six Questions 💕"
      />
      <Project
        description="Instantly preview drop-in CSS themes."
        href="https://classlesscss.com"
        title="Classless CSS 🚫"
      />
    </ul>
  </section>
  <section class="animate-down">
    <h2 class="pb-4 pt-12 text-sm text-textVariant">Posts</h2>
    <ul class="">
      {
        formattedPosts.map((post) => (
          <Post
            date={post.data.date}
            href={post.slug}
            title={post.data.title}
            description={post.data.description}
          />
        ))
      }
    </ul>
    <div class="flex justify-end">
      <a
        href="/posts"
        class="link group -ml-1 flex items-center gap-1 px-1 py-2 text-sm"
        >View older posts <Icon
          class="text-text group-hover:animate-horizontal-bounce group-focus:animate-horizontal-bounce"
          name="arrow-right"
        />
      </a>
    </div>
  </section>
</BaseLayout>
