---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

import Post from "../components/Post.astro";
import Project from "@components/Project.astro";

import { formatBlogPost } from "../lib/utils";

const allPosts = await getCollection("posts");
const formattedPosts = formatBlogPost(allPosts, {
  limit: 7,
});

const pageTitle = "Trevor Lee | Homepage";
---

<BaseLayout pageTitle={pageTitle}>
  <span class="mt-12 flex font-sans text-xl font-semibold">Projects</span>
  <span class="flex border-b border-gray-5 py-2 font-mono dark:border-gray-9">
    <span class="w-[120px] opacity-70">date</span><span class="opacity-70"
      >title</span
    >
  </span>
  <ul>
    <Project
      description="Send, monitor, and track phishing emails"
      href="https://github.com/phished-co/phished_web_app"
      title="Phished"
    />
    <Project
      description="Tired of writing arrays? Me too..."
      href="https://text2array.vercel.app/"
      title="text 2 array"
    />
    <Project
      description="Swifties only!"
      href="https://www.swiftie.red/"
      title="swiftie.red"
    />
  </ul>
  <span class="mt-8 flex font-sans text-xl font-semibold">Posts</span>
  <span class="flex border-b border-gray-5 py-2 font-mono dark:border-gray-9">
    <span class="w-[120px] opacity-70">date</span><span class="opacity-70"
      >title</span
    >
  </span>
  <ul>
    {
      formattedPosts.map((post) => (
        <Post
          date={post.data.date}
          href={post.slug}
          title={post.data.title}
          description={post.data.description}
        />
      ))
    }
  </ul>
</BaseLayout>
