---
import { Icon } from "astro-icon/components";
import BaseLayout from "src/layouts/BaseLayout.astro";
import { formatBlogPost } from "src/lib/utils";
import { getCollection } from "astro:content";
import Post from "@components/Post.astro";
import Project from "@components/Project.astro";
import Hero from "@components/Hero.astro";

const allPosts = await getCollection("posts");
const formattedPosts = formatBlogPost(allPosts, {
  limit: 7,
});

const pageTitle = "Trevor Tyler Lee";
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <Hero />
  </section>

  <section class="animate-down">
    <h2 class="pb-4 pt-12 text-lg font-medium">Projects</h2>
    <ul class="">
      <Project
        description="Blog theme for Astro with search, comments, and zero frameworks."
        href="https://astro.build/themes/details/astro-micro/"
        title="Astro Micro 🔬"
      />
      <Project
        description="Build closer relationships through mutual vulnerability."
        href="https://thirtysixquestions.org"
        title="Thirty Six Questions 🫂"
      />
      <Project
        description="Instantly preview drop-in CSS themes."
        href="https://classlesscss.com"
        title="Classless CSS 🚫"
      />
    </ul>
  </section>
  <section class="animate-down">
    <div class="flex items-baseline justify-between">
      <h2 class="pb-4 pt-12 text-lg font-medium">Recent Posts</h2>
      <a
        href="/posts"
        class="group flex h-[40px] cursor-default items-center gap-1 rounded-lg bg-white px-3 py-2 text-base/6 text-sm text-text no-underline shadow-sm ring-1 ring-inset ring-neutral-950/15 hover:ring-neutral-950/25 focus-visible:ring-neutral-950/25 dark:bg-white/5 dark:ring-white/10 dark:hover:ring-white/25 dark:focus-visible:ring-white/25 sm:h-[32px] sm:py-1"
        >View all posts
        <Icon
          name="arrow-right"
          class="text-textVariant transition-colors group-hover:text-text group-focus-visible:text-text"
        />
      </a>
    </div>
    <ul>
      {
        formattedPosts.map((post) => (
          <Post
            date={post.data.date}
            href={post.slug}
            title={post.data.title}
            description={post.data.description}
          />
        ))
      }
    </ul>
  </section>
</BaseLayout>
