---
import { getCollection, getEntryBySlug } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import Marquee from '../components/Marquee.astro';
import MorePost from '../components/MorePost.astro';
import LatestPosts from '../components/LatestPosts.astro';

import { formatBlogPost } from '../js/utils';
import { Icon } from 'astro-icon';

const pageTitle = 'Trevor Lee | Homepage';
const allPosts = await getCollection('posts');
const formattedPosts = formatBlogPost(allPosts, {
  limit: 3,
});
const feature1 = await getEntryBySlug('posts', 'phished');
const feature2 = await getEntryBySlug('posts', 'text2array');
const feature3 = await getEntryBySlug('posts', 'design');
const featuredPost = [feature1];
const secondaryPosts = [feature2, feature3];
---

<BaseLayout pageTitle={pageTitle}>
  <div class="intro">
    <Marquee />
    <h1 class="name">Trevor Lee</h1>
    <p class="desc">Digital designer and web developer</p>
    <div class="icons">
      <a class='wavy-exempt icon' href="https://github.com/boogerbuttcheeks" aria-label="Go to Trevor's Github page">
        <Icon name="ant-design:github-filled" size="40" />
      </a>
      <a class='wavy-exempt icon' href="https://www.linkedin.com/in/trevortylerlee/" aria-label="Go to Trevor's LinkedIn page">
        <Icon name="ri:linkedin-fill" size="40" />
      </a>
      <a class='wavy-exempt icon' href="https://twitter.com/boogerbuttcheek" aria-label="Go to Trevor's Twitter page">
        <Icon name="ri:twitter-fill" size="40" />
      </a>
    </div>
  </div>
  <hr />
  {
    featuredPost.map((post) => (
      <Card
        title={post.data.title}
        desc={post.data.description}
        href={post.slug}
        src={post.data.image.src}
        alt={post.data.image.alt}
      />
    ))
  }
  <div class="secondary-posts">
  {
    secondaryPosts.map((post) => (
      <Card
        title={post.data.title}
        desc={post.data.description}
        href={post.slug}
        src={post.data.image.src}
        alt={post.data.image.alt}
      />
    ))
  }
  </div>
  <hr />
  <LatestPosts />
</BaseLayout>

<style>
  h1 {
    font-size: 3.125rem;
    cursor: default;
  }

  .name {
    transition: 0.2s;
  }

  .name,
  .desc {
    margin: 0;
    text-align: center;
  }

  .desc {
    margin-top: -0.5rem;
  }
  
  .intro {
    /* outline: 2px solid blue; */
    padding: 2rem 0;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    /* margin-bottom: 4rem; */
    gap: 2rem;
  }

  .icon:hover,
  .icon:focus {;
    transform: scale(1.02);
    color: var(--primary-color);
  }

  h2 {
    text-align: center;
  }

  marquee {
    display: flex;
    margin: 0;
  }

  path {
    pointer-events: all;
    cursor: pointer;
  }

  svg {
    transition: 0.2s;
  }

  svg:hover,
  svg:focus,
  svg:focus-visible,
  svg:focus-within,
  svg:active {
    transform: scale(1.02);
  }

  @media (min-width: 760px) {
    .secondary-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    height: 100%;
  }
  }

  @media (min-width: 40rem) {
    h1 {
      font-size: 5.5rem;
    }

    .desc {
      font-size: 1.5rem;
    }
  }
</style>
