---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import profilePicture from "@assets/me-with-roxy.jpg";
import classlessCSS from "@assets/posts/classlesscss.png";
import t2a from "@assets/posts/t2a.jpg";
import phished from "@assets/posts/phished.png";
import swiftiedotred from "@assets/posts/swiftiedotred.jpg";
import thirtysixquestions from "@assets/posts/thirtysixquestions.jpg";
import BaseLayout from "src/layouts/BaseLayout.astro";
import { formatBlogPost } from "src/lib/utils";
import { getCollection } from "astro:content";
import Post from "@components/Post.astro";
import Project from "@components/Project.astro";

import roxy1 from "@assets/roxy/roxy-1.jpg";
import roxy2 from "@assets/roxy/roxy-2.jpg";
import roxy3 from "@assets/roxy/roxy-3.jpg";
import roxy4 from "@assets/roxy/roxy-4.jpg";
import roxy5 from "@assets/roxy/roxy-5.jpg";
import roxy6 from "@assets/roxy/roxy-6.jpg";
import roxy7 from "@assets/roxy/roxy-7.jpg";
import roxy8 from "@assets/roxy/roxy-8.jpg";
import roxy9 from "@assets/roxy/roxy-9.jpg";
import roxy10 from "@assets/roxy/roxy-10.jpg";
import roxy11 from "@assets/roxy/roxy-11.jpg";
import roxy12 from "@assets/roxy/roxy-12.jpg";
import roxy13 from "@assets/roxy/roxy-13.jpg";
import roxy14 from "@assets/roxy/roxy-14.jpg";
import roxy15 from "@assets/roxy/roxy-15.jpg";
import roxy16 from "@assets/roxy/roxy-16.jpg";
import roxy17 from "@assets/roxy/roxy-17.jpg";
import roxy18 from "@assets/roxy/roxy-18.jpg";
import roxy19 from "@assets/roxy/roxy-19.jpg";
import roxy20 from "@assets/roxy/roxy-20.jpg";
import roxy21 from "@assets/roxy/roxy-21.jpg";

const images = [
  roxy1,
  roxy2,
  roxy3,
  roxy4,
  roxy5,
  roxy6,
  roxy7,
  roxy8,
  roxy9,
  roxy10,
  roxy11,
  roxy12,
  roxy13,
  roxy14,
  roxy15,
  roxy16,
  roxy17,
  roxy18,
  roxy19,
  roxy20,
  roxy21,
];

const allPosts = await getCollection("posts");
const formattedPosts = formatBlogPost(allPosts, {
  limit: 5,
});

const pageTitle = "Trevor Lee | Homepage";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex gap-6 py-16 sm:py-24">
    <Image
      src={profilePicture}
      alt="Me and my dog Roxy"
      width={200}
      height={200}
      class="rounded-full"
    />
    <div class="flex flex-col gap-1">
      <h1
        class="cursor-pointer text-3xl font-semibold tracking-tighter transition-transform sm:text-3xl sm:tracking-tight"
      >
        Trevor Tyler Lee
        <div
          class="font-mono text-sm font-normal lowercase tracking-normal text-textVariant"
        >
          @trevortylerlee
        </div>
      </h1>
    </div>
  </div>
  <section class="animate-down">
    <span class="py-2 font-mono text-sm text-textVariant">
      <h2 class="py-2">latest posts</h2>
    </span>
    <ul>
      {
        formattedPosts.map((post) => (
          <Post
            date={post.data.date}
            href={post.slug}
            title={post.data.title}
            description={post.data.description}
          />
        ))
      }
    </ul>
    <div class="flex justify-end pb-8">
      <a href="/posts" class="link group flex items-center gap-1 py-2"
        >view older posts <Icon
          class="text-text group-hover:animate-horizontal-bounce group-hover:text-primary group-focus:animate-horizontal-bounce group-focus-visible:text-primary"
          name="arrow-right"
        />
      </a>
    </div>
  </section>
  <section class="animate-down">
    <h2 class="pb-4 pt-16 font-mono text-sm text-textVariant">projects</h2>
    <ul class="grid gap-3 sm:grid-cols-2 sm:gap-6">
      <Project
        description="These thirty six questions foster closeness through mutual vulnerability."
        href="https://thirtysixquestions.org"
        title="thirtysixquestions.org"
        src={thirtysixquestions}
        online
      />
      <Project
        description="The best website for Swifties."
        href="https://swiftie.red"
        title="swiftie.red"
        src={swiftiedotred}
        online
      />
      <Project
        description="Site to instantly preview drop-in CSS themes."
        href="https://classlesscss.com"
        title="classlesscss.com"
        src={classlessCSS}
        online
      />
      <Project
        description="Tired of typing out arrays? Me too..."
        href="https://text2array.vercel.app/"
        title="Text 2 Array"
        src={t2a}
        online
      />
      <Project
        description="Protect your friends and family from phishing attacks by phishing them yourself."
        href="https://github.com/phished-co/phished_web_app"
        title="Phished"
        src={phished}
        offline
      />
    </ul>
  </section>
</BaseLayout>
