---
import { getCollection, getEntryBySlug } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import Marquee from '../components/Marquee.astro';
import MorePost from '../components/MorePost.astro';

import { formatBlogPost } from '../js/utils';

const pageTitle = 'Trevor Lee | Homepage';
const allPosts = await getCollection('posts');
const formattedPosts = formatBlogPost(allPosts, {
  limit: 3,
});
const feature1 = await getEntryBySlug('posts', 'phished');
const feature2 = await getEntryBySlug('posts', 'text2array');
const feature3 = await getEntryBySlug('posts', 'design');
const featuredPost = [feature1];
const secondaryPosts = [feature2, feature3];

const lightModeGradient = 'linear-gradient(90deg, #007CF0, #00DFD8)'
const darkModeGradient = 'linear-gradient(90deg, #7928CA, #FF0080)'
---

<BaseLayout pageTitle={pageTitle}>
  <div class="intro">
    <Marquee />
    <h1 class="name">Trevor Lee</h1>
    <p class="desc">Digital designer and web developer</p>
    <div class="icons">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        aria-describedby="github"
      >
        <title id="github">Link to Trevor's Github</title>
        <a href="https://github.com/boogerbuttcheeks">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
          ></path>
        </a>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        aria-describedby="linkedin"
      >
        <title id="linkedin">Link to Trevor's LinkedIn</title>
        <a href="https://www.linkedin.com/in/trevortylerlee/">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
          ></path>
          <path d="M8 11l0 5"></path>
          <path d="M8 8l0 .01"></path>
          <path d="M12 16l0 -5"></path>
          <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
        </a>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        aria-describedby="resume"
      >
        <title id="resume">Link to Trevor's online resume</title>
        <a href="https://read.cv/booger">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
          <path
            d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
          ></path>
          <path d="M9 17h6"></path>
          <path d="M9 13h6"></path>
        </a>
      </svg>
    </div>
  </div>
  <hr />
  {
    featuredPost.map((post) => (
      <Card
        title={post.data.title}
        desc={post.data.description}
        href={post.slug}
        src={post.data.image.src}
        alt={post.data.image.alt}
      />
    ))
  }
  <div class="secondary-posts">
  {
    secondaryPosts.map((post) => (
      <Card
        title={post.data.title}
        desc={post.data.description}
        href={post.slug}
        src={post.data.image.src}
        alt={post.data.image.alt}
      />
    ))
  }
  </div>
  <hr />
  <div class="latest-posts">
    <h2 class="more">Latest Posts</h2>
    <a class="view-all" href="/posts/">View all posts</a>
  </div>
  {
    formattedPosts.map((post, i) => (
      <MorePost
        date={post.data.date}
        href={post.slug}
        title={post.data.title}
      />
    ))
  }
</BaseLayout>

<style define:vars={{lightModeGradient, darkModeGradient}}>
  h1 {
    font-size: 3.125rem;
    cursor: default;
  }

  .name {
    transition: 0.2s;
  }

  .name,
  .desc {
    margin: 0;
    text-align: center;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 4rem;
    gap: 2rem;
  }

  h2 {
    text-align: center;
  }

  .more {
    text-align: left;
    margin-top: 4rem;
    contain: style;
  }

  marquee {
    display: flex;
    margin: 0;
  }

  .view-all {
    color: inherit;
    border-color: rgba(0, 0, 0, 0);
  }

  .view-all:hover,
  .view-all:focus-visible {
    border-color: var(--primary-color);
    color: var(--primary-color);
    opacity: 1;
  }

  .latest-posts {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  path {
    pointer-events: all;
    cursor: pointer;
  }

  svg {
    stroke: var(--text-color);
    transition: 0.2s;
  }

  svg:hover,
  svg:focus,
  svg:focus-visible,
  svg:focus-within,
  svg:active {
    stroke: var(--primary-color);
    transform: scale(1.02);
  }

  @media (min-width: 760px) {
    .secondary-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    height: 100%;
  }
  }

  @media (min-width: 40rem) {
    h1 {
      font-size: 5.5rem;
    }

    .desc {
      font-size: 1.5rem;
    }
  }
</style>
