---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import profilePicture from "@assets/me-with-roxy.webp";
import classlessCSS from "@assets/posts/classlesscss.png";
import t2a from "@assets/posts/t2a.jpg";
import phished from "@assets/posts/phished.png";
import BaseLayout from "src/layouts/BaseLayout.astro";
import { formatBlogPost } from "src/lib/utils";
import { getCollection } from "astro:content";
import Post from "@components/Post.astro";
import Project from "@components/Project.astro";

const allPosts = await getCollection("posts");
const formattedPosts = formatBlogPost(allPosts, {
  limit: 5,
});

const pageTitle = "Trevor Lee | Homepage";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col gap-6 py-16 sm:py-24">
    <div class="flex gap-2">
      <Image
        format="avif"
        src={profilePicture}
        quality={"low"}
        alt="Young me with my dog Roxy."
        class="h-[52px] w-[52px]"
        loading="eager"
      />
      <h1
        class="text-3xl font-bold uppercase tracking-tighter sm:text-3xl sm:tracking-tight"
      >
        Trevor Tyler Lee
        <div
          class="font-mono text-sm font-normal lowercase tracking-normal text-textVariant"
        >
          @trevortylerlee
        </div>
      </h1>
    </div>
    <div class="grid max-w-[360px] grid-cols-2 gap-2">
      <a
        href="https://bsky.app/profile/trevortylerlee.com"
        class="link group flex items-center gap-1 text-lg"
      >
        🦋 Bluesky <Icon
          class="text-text group-hover:text-primary group-focus-visible:text-primary"
          name="external"
        />
      </a>
      <a
        href="mailto:trevortylerlee@gmail.com"
        class="link group flex items-center gap-1 text-lg"
      >
        ✉️ Email <Icon
          class="text-text group-hover:text-primary group-focus-visible:text-primary"
          name="external"
        />
      </a>
      <a
        href="https://github.com/trevortylerlee"
        class="link group flex items-center gap-1 text-lg"
      >
        💻 Github <Icon
          class="text-text group-hover:text-primary group-focus-visible:text-primary"
          name="external"
        />
      </a>
      <a href="/rss.xml" class="link group flex items-center gap-1 text-lg">
        🔖 RSS <Icon
          class="text-text group-hover:text-primary group-focus-visible:text-primary"
          name="external"
        />
      </a>
      <a
        href="tel:7782353815"
        class="link group flex items-center gap-1 text-lg"
      >
        ☎️ Telephone <Icon
          class="text-text group-hover:text-primary group-focus-visible:text-primary"
          name="external"
        />
      </a>
    </div>
  </div>
  <section>
    <span class="py-2 font-mono text-sm text-textVariant">
      <h2 class="">latest posts</h2>
    </span>
    <ul>
      {
        formattedPosts.map((post) => (
          <Post
            date={post.data.date}
            href={post.slug}
            title={post.data.title}
            description={post.data.description}
          />
        ))
      }
    </ul>
    <div class="flex justify-end pb-8 pt-2">
      <a href="/posts" class="link group flex items-center gap-1 py-1"
        >view older posts <Icon
          class="group-hover:animate-horizontal-bounce group-focus:animate-horizontal-bounce text-text group-hover:text-primary group-focus-visible:text-primary"
          name="arrow-right"
        /></a
      >
    </div>
  </section>
  <section>
    <h2 class="pb-4 pt-16 font-mono text-sm text-textVariant">projects</h2>
    <ul class="grid gap-3 sm:grid-cols-2 sm:gap-6">
      <Project
        description="Site to instantly preview drop-in CSS themes."
        href="https://classlesscss.com"
        title="classlesscss.com"
        src={classlessCSS}
        online
      />
      <Project
        description="Tired of typing out arrays? Me too..."
        href="https://text2array.vercel.app/"
        title="Text 2 Array"
        src={t2a}
        online
      />
      <Project
        description="Protect your friends and family from phishing attacks by phishing them yourself."
        href="https://github.com/phished-co/phished_web_app"
        title="Phished"
        src={phished}
      />
    </ul>
  </section>
</BaseLayout>

<script></script>
