---
import { getCollection, getEntryBySlug } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import Marquee from '../components/Marquee.astro';
import MorePost from '../components/MorePost.astro';
import LatestPosts from '../components/LatestPosts.astro';
import SocialLink from '../components/SocialLink.astro'

import { formatBlogPost } from '../js/utils';
import { Icon } from 'astro-icon';

const pageTitle = 'Trevor Lee | Homepage';
const allPosts = await getCollection('posts');
const formattedPosts = formatBlogPost(allPosts, {
  limit: 3,
});
const feature1 = await getEntryBySlug('posts', 'phished');
const feature2 = await getEntryBySlug('posts', 'text2array');
const feature3 = await getEntryBySlug('posts', 'design');
const featuredPost = [feature1];
const secondaryPosts = [feature2, feature3];
---

<BaseLayout pageTitle={pageTitle}>
  <div class="intro">

    <h1 class='desc'><span class='name'>Trevor Lee –</span> I'm a software developer interested in design.</h1>
    <div class='marquee'>
      <Marquee />
    </div>
    <!-- <div class='social-grid'>
      <SocialLink
        link="https://github.com/boogerbuttcheeks"
        icon="ant-design:github-filled"
        github
      />
      <SocialLink
        link="https://www.linkedin.com/in/trevortylerlee/"
        icon="mdi:linkedin"
        color="#0a66c2"
      />
      <SocialLink
        link="https://mstdn.social/@boogerbuttcheeks"
        icon="mdi:mastodon"
        color="#6364F6"
      />
      <SocialLink
        link="https://twitter.com/boogerbuttcheek"
        icon="ri:twitter-fill"
        color="#1DA1F2"
      />
    </div> -->

  </div>
  <hr />
  <div>
  {
    featuredPost.map((post) => (
      <Card
        title={post.data.title}
        desc={post.data.description}
        href={post.slug}
        src={post.data.image.src}
        alt={post.data.image.alt}
        featured={true}
      />
    ))
  }
  </div>
  <div class="secondary-posts">
  {
    secondaryPosts.map((post) => (
      <Card
        title={post.data.title}
        desc={post.data.description}
        href={post.slug}
        src={post.data.image.src}
        alt={post.data.image.alt}
        featured={false}
      />
    ))
  }
  </div>
  <hr />
  <LatestPosts />
</BaseLayout>

<style>

  .desc {
    font-size: 2rem;
    margin: 0;
    transition: 0.2s;
    color: gray;
  }

  .desc:hover {
    color: #ff0080;
  }

  :global(.dark) .desc:hover {
    color: #fff500;
  }

  .name {
    color: var(--text-color);
  }
  
  .intro {
    /* outline: 2px solid orange; */
    padding: 3rem 0 2rem 0;
  }

  .social-grid {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
    justify-content: center;
  }

  h2 {
    text-align: center;
  }

  .marquee {
    position: relative;
    margin-top: -6rem;
    user-select: none;
    z-index: -1;
    display: none;
    margin-bottom: 1rem;
  }

  @media (min-width: 760px) {
    .secondary-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    height: 100%;
  }
  }

  @media (min-width: 40rem) {
    .desc {
      font-size: 3rem;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .marquee {
      display: block;
    }
  }
</style>
