---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import profilePicture from "@assets/me-with-roxy.webp";
import classlessCSS from "@assets/posts/classlesscss.png";
import t2a from "@assets/posts/t2a.jpg";
import phished from "@assets/posts/phished.png";
import BaseLayout from "src/layouts/BaseLayout.astro";
import { formatBlogPost } from "src/lib/utils";
import { getCollection } from "astro:content";
import Post from "@components/Post.astro";
import Project from "@components/Project.astro";
import Tags from "@components/Tags";

const allPosts = await getCollection("posts");
const formattedPosts = formatBlogPost(allPosts, {
  limit: 4,
});

const pageTitle = "Trevor Lee | Homepage";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col gap-6 py-16 sm:py-24">
    <div class="flex gap-2">
      <Image
        format="avif"
        src={profilePicture}
        quality={"low"}
        alt="Young me with my dog Roxy."
        class="h-[52px] w-[52px]"
        loading="eager"
      />
      <h1
        class="text-3xl font-bold tracking-tighter sm:text-3xl sm:tracking-tight"
      >
        TREVOR TYLER LEE
        <div class="font-mono text-sm font-normal tracking-normal text-gray-6">
          @boogerbuttcheeks
        </div>
      </h1>
    </div>
    <div class="flex flex-wrap gap-3">
      <Tags client:load />
    </div>
  </div>
  <section>
    <span class="flex justify-between py-2 font-mono text-sm text-gray-6">
      <h2 class="">latest posts</h2>
      <a
        href="/rss.xml"
        class="group flex items-center gap-1 py-1 text-sm text-gray-6 no-underline hover:text-foreground focus:text-foreground"
        ><Icon
          name="radio"
          class="group-hover:text-primary group-focus:text-primary"
        /> rss</a
      >
    </span>
    <ul>
      {
        formattedPosts.map((post) => (
          <Post
            date={post.data.date}
            href={post.slug}
            title={post.data.title}
            description={post.data.description}
          />
        ))
      }
    </ul>
    <div class="flex justify-end pb-8 pt-2">
      <a
        href="/posts"
        class="group flex items-center gap-1 py-1 font-mono text-sm text-gray-6 no-underline hover:text-foreground focus:text-foreground"
        >view older posts <Icon name="arrow-right" /></a
      >
    </div>
  </section>
  <section>
    <h2 class="pb-5 pt-2 font-mono text-sm text-gray-6">projects</h2>
    <ul class="grid gap-3 sm:grid-cols-2 sm:gap-6">
      <Project
        description="Site to instantly preview drop-in CSS themes."
        href="https://classlesscss.com"
        title="classlesscss.com"
        src={classlessCSS}
        online
      />
      <Project
        description="Tired of typing out arrays? Me too..."
        href="https://text2array.vercel.com"
        title="text 2 array"
        src={t2a}
        online
      />
      <Project
        description="Protect your friends and family from phishing attacks by phishing them yourself."
        href="https://github.com/phished-co/phished_web_app"
        title="Phished"
        src={phished}
      />
    </ul>
  </section>
</BaseLayout>

<script></script>
