---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

import MorePost from "../components/MorePost.astro";
import Pagination from "../components/Pagination.astro";

import { formatBlogPost } from "../lib/utils";

const allPosts = await getCollection("posts");
const formattedPosts = formatBlogPost(allPosts, {
  limit: 7,
});

const pageTitle = "Trevor Lee | Homepage";
---

<BaseLayout pageTitle={pageTitle}>
  <div style="view-transition-name: test">
    <div class="flex max-w-[768px] flex-col items-center gap-6 px-2 pb-16 pt-24 sm:flex-row">
          <div
            class="flex items-center justify-center"
          >
            <img
              src="/me-with-roxy.webp"
              alt="A picture of young Trevor with my dog Roxy."
              class="max-w-[124px] rounded-full motion-safe:hover:animate-spin-slow"
            />
          </div>
          <div
            class="block text-center text-xl sm:text-left"
          >
            <h1 class="text-xl sm:text-3xl font-bold" id="bio">
              Frontend developer and designer. Studied Digital Design and Development at BCIT — currently working at
              <a href="https://www.comc.com/"> COMC</a>.
            </h1>
          </div>
        </div>

        <div class="grid pb-16">
          {
            formattedPosts.map((post) => (
              <MorePost
                date={post.data.date}
                href={post.slug}
                title={post.data.title}
                description={post.data.description}
              />
            ))
          }
        </div>
  </div>
</BaseLayout>
