---
const { title, desc, href, alt, src } = Astro.props;
const lightGlow = '#ff0080';
const darkGlow = '#0000FF';
---

<a href={`/posts/${href}/`}>
  <div class="card">
    <img src={src} alt={alt} />
    <h3 class="title">
      {title}
      <svg
          class="arrow"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><line x1="5" y1="12" x2="19" y2="12"></line><polyline
            points="12 5 19 12 12 19"></polyline>
        </svg>
    </h3>
    <p>{desc}</p>
  </div>
</a>

<style define:vars={{ lightGlow, darkGlow }}>
  .card {
    cursor: pointer;
    padding: 1rem;
    height: 100%;


    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  .card:hover img {
    color: var(--darkGlow);
    box-shadow: 0 0 1rem var(--darkGlow);
    text-shadow: 0 0 1rem var(--darkGlow);
    scale: 1.02;
  }

  .a:focus-within {
    outline: 2px solid var(--lightGlow);
  }

  :global(.dark) .a:focus-within {
    outline: 2px solid var(--darkGlow);
  }

  :global(.dark) .card:hover img {
    color: var(--lightGlow);
    box-shadow: 0 0 2rem var(--lightGlow);
    text-shadow: 0 0 1rem var(--lightGlow);
  }

  img {
    transition: 0.2s ease-in-out;
  }

  p {
    margin: 0;
  }

  a {
    color: inherit;
    border-bottom: none;
    background-image: none !important;
    background-size: auto 4px;
    padding-bottom: 4px;
  }

  a:hover {
    /* text-decoration: none !important; */
    background-image: none !important;
  }

  a:focus-visible img {
    color: var(--darkGlow);
    box-shadow: 0 0 1rem var(--darkGlow);
    text-shadow: 0 0 1rem var(--darkGlow);
    scale: 1.02;
  }

  a:focus {
    outline: 2px solid var(--darkGlow);
  }

  :global(.dark) a:focus-visible img {
    color: var(--lightGlow);
    box-shadow: 0 0 1rem var(--lightGlow);
    text-shadow: 0 0 1rem var(--lightGlow);
  }

  :global(.dark) a:focus {
    outline: 2px solid var(--lightGlow);
  }

  a:focus .arrow {
    opacity: 1;
  }

  .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.25rem;
    position: relative;
  }

  /* For when arrow breaks to next line without the last word */
  @media only screen and (max-width: 500px) and (min-width: 460px) {
    .title {
      white-space: nowrap;
    }
  }

  .arrow {
    margin-left: 0.5rem;
    opacity: 0;
    transition: 0.2s ease-in-out;
    position: relative;
  }

  .card:hover .arrow {
    opacity: 1;
  }


  @media (min-width: 40rem) {
    .card {
      margin: 1rem 0;
    }

    .title {
      font-size: 1.625rem;
      font-weight: 600;
      margin-top: 1.75rem;
    }
  }
</style>
