---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

const { href, title, description, src, online } = Astro.props;
---

<li class="relative">
  <a
    class="group block h-full w-full overflow-hidden rounded-2xl text-foreground ring-2 ring-foreground/10 hover:bg-gray-2 hover:ring-foreground/30 focus-visible:bg-gray-2 focus-visible:ring-foreground/50 dark:hover:bg-gray-10 dark:focus-visible:bg-gray-10"
    href={href}
    ><span class="-mb-3 block h-[12em] w-full overflow-hidden rounded-t-xl p-2"
      ><div class="overflow-hidden rounded-2xl">
        <Image
          alt={title}
          width="640"
          height="480"
          class="h-full rounded-lg rounded-t-2xl object-cover ring-2 ring-foreground/10 transition-transform delay-75 duration-500 ease-in-out group-hover:scale-105 group-focus-visible:scale-105"
          src={src}
          loading="eager"
          quality={"low"}
          format="avif"
        />
      </div></span
    ><h3 class="block px-3.5 pt-4 text-lg font-bold">
      {title}
    </h3><p
      class="mt-1 block border-b-transparent px-3.5 pb-5 pr-4 text-gray-7 dark:text-gray-6"
    >
      {description}
    </p><span class="block pb-4">
      {
        online ? (
          <div class="absolute bottom-3 right-5 flex items-center gap-1">
            <div class="h-[8px] w-[8px] rounded-full bg-green-500" />
            <span class="font-mono text-xs text-gray-7 dark:text-gray-6">
              online
            </span>
          </div>
        ) : (
          <div class="absolute bottom-3 right-5 flex items-center gap-1 text-red-500 ">
            <div class="h-[8px] w-[8px] rounded-full bg-red-500" />
            <span class="font-mono text-xs text-gray-7 dark:text-gray-6">
              offline
            </span>
          </div>
        )
      }
    </span></a
  >
</li>

<style>
  a {
    text-decoration: none;
  }
</style>
