---
import { Image } from "astro:assets";
const { description, href, image, title } = Astro.props;
---

<a href={href} style="text-decoration: none" class="group">
  <div class="flex items-center py-4 gap-3">
    <Image src={image} alt={title} class="max-w-[48px] rounded-xl" />
    <div class="">
      <div class="">
        <h3 class="text-lg group-hover:underline">{title}</h3>
        <p class="!no-underline text-content">{description}</p>
      </div>
    </div>
  </div>
</a>
