---
import "../styles/global.css";
import "@fontsource/atkinson-hyperlegible/400.css";
import "@fontsource/atkinson-hyperlegible/700.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

const { pageTitle, pageSlug, category } = Astro.props;
---

<html id="html" lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.png" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content="/og.jpg" />
    <ViewTransitions />
    <meta
      name="description"
      content="Trevor Lee | Software Developer and Designer from Vancouver, Canada | TypeScript, React, Next.js, Node.js"
    />
    <title>{pageTitle}</title>
  </head>
  <body
    class="overflow-x-hidden bg-background font-sans text-content underline-offset-2"
    id="body"
  >
    <div class="overlay z-0"></div>
    <div class="z-10 mx-auto">
      <Navigation
        pageTitle={pageTitle}
        pageSlug={pageSlug}
        category={category}
      />
      <hr class="hr-bg h-0.5 border-none" />
      <main class="px-2">
        <slot />
      </main>
      <hr class="hr-bg h-0.5 border-none" />
      <Footer />
    </div>

    <script is:inline></script>
  </body>
</html>
