---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import { ColorMode } from "astro-color-mode";
import { ViewTransitions } from "astro:transitions";

const { pageTitle, pageSlug, category } = Astro.props;
---

<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.png" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content="/og.jpg" />
    <!-- <meta name="view-transition" content="same-origin" /> -->
    <ColorMode />
    <ViewTransitions />
    <meta
      name="description"
      content="Trevor Lee | Software Developer and Designer from Vancouver, Canada | TypeScript, React, Next.js, Node.js"
    />
    <title>{pageTitle}</title>
  </head>
  <body
    class="bg-background overflow-x-hidden font-atkinson text-content underline-offset-2"
    id="body"
  >
    <div class="overlay z-0"></div>
    <div class="mx-auto z-10">
      <Navigation
        pageTitle={pageTitle}
        pageSlug={pageSlug}
        category={category}
      />
      <hr class="hr-bg border-none h-0.5" />
      <!-- <main class="px-2" style="view-transition-name: foo"> -->
      <main class="px-2">
        <slot />
      </main>
      <hr class="hr-bg border-none h-0.5" />
      <Footer />
    </div>

    <!-- Reload page on /posts/* so Giscus can reload correct theme -->
    <script is:inline>
      function setTheme() {
        const darkIcon = document.querySelector(".dark");
        const lightIcon = document.querySelector(".light");
        const themeToggle = document.querySelector("#themeToggle");
        darkIcon?.classList.remove("animate");
        darkIcon?.classList.add("animate");
        lightIcon?.classList.remove("animate");
        lightIcon?.classList.add("animate");
        console.log("setTheme ran");

        const currentUrl = window.location.href;
        console.log(currentUrl);

        // Check if the current URL matches the pattern for /posts/*
        if (
          currentUrl.match(/\/posts\//) &&
          currentUrl !== "http://localhost:1999/posts/" &&
          currentUrl !== "https://trevortylerlee.com/posts/"
        ) {
          location.reload();
          console.log("reloaded");
        }
      }

      themeToggle?.addEventListener("click", setTheme);
      window.addEventListener("astro:beforeload", setTheme);
    </script>
  </body>
</html>
