---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";

const { pageTitle, pageSlug, category } = Astro.props;
---

<html id="html" lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.png" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content="/og.jpg" />
    <meta name="description" content="Trevor Tyler Lee | Vancouver, Canada" />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-background text-content" id="body">
    <div class="">
      <Navigation
        category={category}
        pageSlug={pageSlug}
        pageTitle={pageTitle}
      />
      <main class="m-auto max-w-[640px] px-6">
        <slot />
      </main>
    </div>
  </body>
</html>
