---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div>
    <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
    <h1>{frontmatter.title}</h1>
    <p class="pub-date">{frontmatter.pubDate}</p>
    <hr />
    <div class="content">
      <slot />
    </div>
  </div>
</BaseLayout>

<style>
  .pub-date {
    color: rgb(200, 200, 200);
    font-style: italic;
    margin: 0;
  }

  h1 {
    margin-top: 1rem;
  }

  .content {
    p {
      margin-bottom: 2rem;
    }
  }
</style>